.body-section {
  padding-top: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.icons {
  width: 30px;
}

.circles {
  background-image: url("/portfolio/images/mainbackground.png");
  background-repeat: no-repeat;
  width: 80%;
}


.connect,
.logo {
  font-weight: bolder;
  color: blue;
  text-decoration: none;
}